<h1 class="text-center">Bus Modules</h1>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>

<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Módulo</th>
			<th>Ônibus</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Velocidade</th>
			<th>Última leitura</th>
			<th>Próxima parada</th>
		</tr>
		<tr>
			<td>{{busmodule._id}}</td>
			<td>{{busmodule.bus}}</td>
			<td>{{busmodule.latitude}}</td>
			<td>{{busmodule.longitude}}</td>
			<td>{{busmodule.speed}}</td>
			<td>{{busmodule.lastRead}}</td>
			<td>{{busmodule.nextStop}}</td>
		</tr>
	</table>
</div>