<h1 class="text-center">Bus stop register</h1>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<form ng-submit="salva()">
	<div class="form-group">
		<label for="description">Descrição</label>
		<input type="text" class="form-control" id="description" name="description" required ng-model="busstop.description">
	</div>
	
	<div class="form-group">
		<label for="address">Endereço</label>
		<input type="text" class="form-control" id="address" name="address" required ng-model="busstop.address">
	</div>

	<div class="form-group">
		<label for="latitude">Latitude</label>
		<input type="text" class="form-control" id="latitude" name="latitude" required ng-model="busstop.latitude">
	</div>
	
	<div class="form-group">
		<label for="longitude">Longitude</label>
		<input type="text" class="form-control" id="longitude" name="longitude" required ng-model="busstop.longitude">
	</div>
		
	<div>
		<button type="submit" class="btn btn-primary">
			Salvar
		</button>
		<a href="#!/busterminal" class="btn btn-default">Voltar</a>
	</div>

</form>

<br/>
<br/>	
<p ng-show="busstop.length">Bus cadastrados: {{busstop.length}}</p>
<p class="text-info" ng-hide="busstop.length">
	Não há terminais cadastrados
</p>
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Descrição</th>
			<th>Endereço</th>
			<th>Latitude</th>
			<th>Longitude</th>
		</tr>
		<tr ng-repeat="busstop in busstop">
			<td>{{busstop._id}}</td>
			<td>{{busstop.description}}</td>
			<td>{{busstop.address}}</td>
			<td>{{busstop.latitude}}</td>
			<td>{{busstop.longitude}}</td>
		</tr>
	</table>
</div>





<!-- 
Dados teste para inclusão:
Parada Baeta Neves
-46.54838562011719,-23.69119965004867 
Baeta Neves, São Bernardo do Campo - SP, 09635-010


Parada Getúlio Vargas
-46.5484015, -23.691379
Baeta Neves, São Bernardo do Campo - SP, 09751-020
-->