<h1 class="text-center">Busstop module register</h1>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<!-- <form ng-submit="salva()"> -->
<form>
	<div class="form-group">
		<label for="_id">ID do módulo</label>
		<input type="text" class="form-control" id="_id" name="_id" required ng-model="busstopmodule._id">
	</div>

	<div class="form-group">
		<label for="busstop">Parada</label>
		<select id="busstop" class="form-control" 
		ng-model="busstopmodule.busStop"	
		ng-change="setBusStop(busstopmodule.busStop)"
		ng-options="busstop._id as busstop.description for busstop in busstop">
		</select>
	</div>

	<div>
		<button type="submit" class="btn btn-primary" ng-click="salva()">
			Salvar
		</button>
		<a href="#!/liststopmodules" class="btn btn-default">Voltar</a>
	</div>
</form>
<br/>
<br/>	

